
<link rel="stylesheet" href="/css/profile.css">

<img src="<%=user.avatar%>" alt="<%=user.name%>" width="120">
<h1>My Profile Page</h1>

    <%if(user.id==profile_user.id){%>
        <form action="/users/update/<%= profile_user.id%>" enctype="multipart/form-data" method="post">

        <input type="text" name="name" id="" placeholder="Your Name" value="<%=profile_user.name%>">
        <input type="text" name="email" placeholder="Your Email" value="<%=profile_user.email%>">
        <input type="file" name="avatar" placeholder="Profile picture">
        <input type="submit" name="submit" value="Update">
    </form>


    <%}else{%>
        <p>Name:<%=profile_user.name%></p>
         <p>Name:<%=profile_user.email%></p>

    <%}%>

    <p><a href="/">Go To Home</a></p>

 
